<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Critopher Nolan quick site</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">Homepage</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/works">Works</a>
        </li>
        <li>
            <a href="/fotos">fotogallery</a>
        </li>
    </ul>
</nav>
<section>
    <h1>About</h1>
    <h2>Biography</h2>
    <p>Hijo de padre inglés y de madre estadounidense, Nolan nació en Westminster, un barrio del centro de Londres donde empezó a realizar películas a la edad de siete años usando la cámara Súper 8 de su padre y sus juguetes como personajes. Fue educado en Haileybury College, una escuela independiente en Hertfordshire, Inglaterra. Después estudió literatura inglesa en la University College de Londres, mientras realizaba varios cortometrajes en una escuela de cine. Su corto Tarantella fue proyectado en Image Union, una exhibición de cine independiente en PBS, en 1989. Otro de sus cortos, Larceny, fue proyectado durante el Cambridge Film Festival en 1996. Otro de sus más notables cortos fue Doodlebug, protagonizado por el actor Jeremy Theobald, quien luego también aparecería en Following, el primer largometraje de Nolan.<br>Se casó con la productora Emma Thomas en 1997. Tienen cuatro hijos juntos y residen en Los Ángeles, California.</p>


</section>
</body>