<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Critopher Nolan quick site</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">Homepage</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/works">Works</a>
        </li>
        <li>
            <a href="/fotos">fotogallery</a>
        </li>
    </ul>
</nav>
<section>
    <h1>Foto Gallery</h1> 
        <ul>
            <li> <img src="/images/fotos/1.jfif" id="Cannes"></li>
            <li> <img src="/images/fotos/2.jfif" id="Cannes"></li>
            <li> <img src="/images/fotos/3.jfif" id="Cannes"></li>
            <li> <img src="/images/fotos/4.jfif" id="Cannes"></li>
            <li> <img src="/images/fotos/5.jfif" id="Cannes"></li>
            <li> <img src="/images/fotos/6.jfif" id="Cannes"></li>
            <li> <img src="/images/fotos/7.jfif" id="Cannes"></li>
        </ul>
    </div>
</section>
</body>