<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Critopher Nolan quick site</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/home">Homepage</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/works">Works</a>
            </li>
            <li>
                <a href="/fotos">fotogallery</a>
            </li>
        </ul>
    </nav>
    <section class="cannes">
        <h1>Home</h1> 
        <p>Christopher Edward Nolan (Londres; 30 de julio de 1970) es un director de cine, guionista, productor y editor británico, nominado en cinco ocasiones al Premio Óscar. En sus películas se tratan con frecuencia temas de la psicología, como la memoria en Memento, los sueños en Inception o el tiempo en Tenet. Ya desde sus inicios fue reconocido por su trabajo en su primer largometraje, Following. Pero no sería hasta unos años después, con su segundo largometraje, Memento, cuando Nolan saltó a la fama.</p>
        <a href="/works"Ve sus peliculas id="worksbtn">Check out his works</a>
    </section>
    <div class="cannes">
        <img src="/images/home/200px-Christopher_Nolan_Cannes_2018.jpg" id="Cannes">
        <h4>Christoper nolan cannes</h4>
    </div>
</body>
</html> 